.App {
  text-align: center;
}

.App-header {
  background-color: #acc3f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 0, 156);
}

.App-link {
  color: #61dafb;
}

.title-main {
  margin: 20px;
}

.input-main {
  margin-bottom: 5px;
}

.button-main {
  margin: 5px;
}

.label-main {
}
